.loader {
    position: relative;
    border: 10px solid black;
    border-top: 10px solid red;
    border-radius: 50% ;
    width: 20vw;
    height: 20vw;
    margin: auto;
    animation: myframe 2s linear infinite;
}
@keyframes myframe{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}